@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


*{
    margin: 0; padding: 0; border: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: #ccc;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    width: 100vw;
    min-height: 100vh;
    padding: 0 10px 10px 10px;
    background-color: rgb(18, 18, 20);
    overflow-x: hidden;
}

header{
    width: 100vw;
    height: 100px;
    background-color: rgb(32, 32, 36);
    display: flex;
    justify-content: center;
}
.header{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div-title span{
    font-weight: 600;
    font-size: 18px;
    color:  rgb(130, 87, 230);
}
.div-menu a{
    text-decoration: none;
    margin: 10px;
}
.div-menu a:hover,
.div-menu a:hover i
{
    color:  rgb(130, 87, 230);
    transition: 300ms;
}
.div-menu a i{
    margin-right: 5px;
    font-size: 20px;
}

section{
    width: 90%;
    flex: 0.5;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(32, 32, 36);
    border-radius: 5px;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    text-align: center;
    
    width: 90%;
    height: 90%;
}

.porta {
    border: 2px solid rgb(41, 41, 46); 
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}
.porta h1{
    color: rgb(130, 87, 230);
    margin-bottom: 20px;
}
.div-input-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.div-input-content input{
    width: 100%;
    height: 50px;
    padding: 5px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 2px solid rgb(41, 41, 46); 
    background: rgb(18, 18, 20);
    color: rgb(255, 255, 255);
    font-size: 16px;
    outline: 0;
    
}
.div-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;

    grid-column: 1 / 5;
    border: 2px solid rgb(41, 41, 46); 
    border-radius: 5px;
    padding: 10px;
}
.div-info button{
    padding: 10px 20px;
    background-color: #8257e5;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
}
.div-erro{
    color: #be4747;
}